
/*first div*/
body{
font-family: Arial, Helvetica, sans-serif;
}


.box1{
    height: 200px;
    width: 200px;
    background-color: red;
    text-align: center
}

.box1{
    transition-property: background-color;
    transition-duration:4s;
}

.box1:hover{
    background-color:blue;
}

h1{
    background-color: black;
    color: white;
    padding: 10px;
}
/*second div*/
.box2{
    height: 200px;
    width: 200px;
    background-color:green;
    text-align: center
}

.box2{

    /*This is working.*/

    /* transition-property:  border-radius,background-color;
    transition-duration:4s;
    transition-delay:2s,0s; */

      /*This is shorthand*/
      transition:  border-radius 2s 4s,background-color 2s 4s;

}

.box2:hover{
    background-color:blueviolet;
    border-radius: 50%;
}

