
/*first div*/
body{
font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: black;
    color: white;
    padding: 10px;
    text-shadow: 0.16em 0.16em 0.16em red;
}
h4{
    text-shadow: 0.16em 0.16em 0.16em white;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: red;
    text-align: center
}

.box1{
    transition-property: background-color;
    transition-duration:4s;
}

.box1:hover{
    background-color:blue;
}


/*second div*/
.box2{
    height: 200px;
    width: 200px;
    background-color:green;
    text-align: center
}

.box2{

    /*This is working.*/

    /* transition-property:  border-radius,background-color;
    transition-duration:4s;
    transition-delay:2s,0s; */

      /*This is shorthand*/
      transition:  border-radius 2s 4s,background-color 2s 4s;

}

.box2:hover{
    background-color:blueviolet;
    border-radius: 50%;
}


.divUlItem{
    width: 500px;
}


ul{
    
    column-count: 3;
    column-gap: 0;

}

ul li{
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

 li:nth-child(3n){
    background-color:#FFBB77;
}

li:nth-child(3n-1){
    background-color: #FFD4A8;
}

li:nth-child(3n-2){
    background-color: #FFEDDB;
}
 li:hover{
background-color: brown;
color:white;
}



