header,footer{
    width:100%;
    height:50px;
    color:white;
    background:black;
    padding:5px;

}
h1{
    padding:5px;
    text-align: center;
    margin: 5px;
}

main{
    display:flex;
}

main>nav{
    /* width:100px; */
    height:500px;
    background:rgb(106, 166, 226);
    order:1;
    width:200px;
    border:1px solid black;
}
main>aside{
    /* width:100px; */
    height:500px;
    background:rgb(106, 166, 226);
    order:3;
    width:200px;
    border:1px solid black;
}

main>article{
    /* width:400px; */
    height:500px;
    background:lightslategray;

    order:2;
    min-width:12em;
    flex:1;
    border:1px solid black;

    display: inline-flex;
}
img{
    margin:5px;
    padding:5px;
}

.box1{
    height:100px;
    width:100px;
    background:red;
   margin:10px;
   padding:10px;
}


.box1:hover{
    transform: translateX(300px);
}

.box1{
    transition: transform 3s;
}


.box2{
    height:100px;
    width:100px;
    background:green;
    margin:10px;
    padding:10px;
}

.box2:hover{
transform: skewX(40deg);
}

.box2{
  transition:transform 5s;  
}

.box3{
    height:100px;
    width:100px;
    background:blue;
    margin:10px;
    padding:10px;
}

.box3:hover{
transform: scaleX(2);
}

.box3{
  transition:transform 5s;  
}

.box4{
    height:100px;
    width:100px;
    background:yellow;
   margin:10px;
   padding:10px;
}


.box4:hover{
    transform: rotate(360deg);
}

.box4{
    transition: transform 2s;
}


